<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <br><br>
      <div class="container">
        <h1>보내는 사람 : <%=@A%></h1>
        <h1>받는 사람 : <%=@C%></h1>
        <br>
        <h2>내용 : <%=simple_format(@B) %></h2>
      </div>
  </body>
</html>

